.sidebar {
  -fx-background-color: #404954;
  -fx-background-radius: 0px 50px 0px 0px;
}
.labbtn {
  -fx-text-fill: #ffffff;
  -fx-background-color: #fefffd;
  -fx-background-radius: 50px;
}
.sidebar-btn {
  -fx-background-color: transparent;
}
.sidebar-btn-text {
  -fx-text-fill: #a2bee8;
}
.sidebar-btn:hover .sidebar-btn-text {
  -fx-text-fill: #7aa2e7;
}
.button-edit {
  -fx-background-color: #45a0fa;
  -fx-text-fill: white;

  -fx-border-width: 2px;
  -fx-font-weight: bold;
  -fx-padding: 10px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.button-edit:hover {
  -fx-background-color: #ff7555;
}
.button-delete {
  -fx-background-color: #45a0fa;
  -fx-text-fill: white;

  -fx-border-width: 2px;
  -fx-font-weight: bold;
  -fx-padding: 10px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.button-delete:hover {
  -fx-background-color: #f3030a;
}
.button {
  -fx-padding: 5px;
  -fx-background-color: #4584fa;
  -fx-text-fill: white;
  -fx-border-width: 1px;
  -fx-background-radius: 30px;
}
.search-box {
  -fx-background-color: #ffffff;
  -fx-background-radius: 100;
}
