.root {
    -fx-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    -fx-base: #ffffff;
}

.split-pane {
    -fx-padding: 10px;
}

.tile-pane {
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
}

.vbox {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.text-area {
    -fx-control-inner-background: #e7e7e7;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
}

.button {
    -fx-background-color: #5cb85c;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-font-size: 12px;
}

.button:hover {
    -fx-background-color: #4cae4c;
}

.text-field {
    -fx-font-size: 14px;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 10);
    -fx-padding: 5px;
}

.hbox {
    -fx-spacing: 5px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}